.header {
  height: 70px;
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary-color;

  &__logo {
    font-size: 36px;
    font-weight: 700;
    @include transition(all, 0.25s, ease-in-out);

    &:hover {
      opacity: $hover-opacity;
    }
  }

  .btn__register {
    padding: 10px;
    width: $btn-width;
    font-size: 18px;
    border: 1px solid $primary-color;
    background-color: $secondary-color;
    @include transition(all, 0.25s, ease-in-out);
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}
