.sidebar {
  position: sticky;
  z-index: 1;
  top: 111px;
  border: 1px solid #000;
  border-radius: 5px;
  max-height: calc(100vh - 111px - 52px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding-bottom: $footer-height;

  &__left {
    grid-column: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  &__link {
    color: #000;
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__right {
    grid-column: 3;
  }

  @media (max-width: 650px) {
    display: none;
  }
}
