@media (max-width: 450px) {
  .header {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;

    &__slogan {
      max-width: 300px;
    }

    &__logo {
      text-align: center;
    }
  }

  .travels {
    &__list {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    &__item {
      grid-template-columns: 1fr;
      width: 300px;
    }

    &__img {
      width: 100%;
      height: 200px;
    }

    &__title {
      margin-top: 10px;
      font-size: 20px;
    }
  }

  .subscription {
    &__form {
      flex-direction: column;
      align-items: center;
      width: 300px;
    }

    &__input {
      width: 100%;
    }
  }

  .container {
    padding-inline: 20px;
  }
}
